<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2>Edit User Form</h2>
    <form action="/users/<%= user._id %>/save" method="POST">
       <P> <input type="text" name="name" placeholder="User Name" value="<%= user.name %>"></P>
        <P><input type="text" name="email" placeholder="User Email" value="<%= user.email %>"></P>
        <P><input type="text" name="role" placeholder="User Role" value="<%= user.role %>"></P>
        <P><input type="password" name="password" placeholder="User Password" value="<%= user.password %>"></P>
        <button type="submit">Save</button> 

</body>
</html>